<!DOCTYPE html>
    <head>
        <title>
            Movie search engine
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/style.css">

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-group"  action="/search" method="post">
                        <input type="text" id="searchs" name="search" class="form-control" placeholder="what do you want to search" />
                        <input type="submit" class="btn btn-info" value="Search" />
                    </form>
                </div>
            </div>
                
        </div>
        
    </body>
</html>