

<% result.results.forEach((arr) => { %>
    <div style="margin: 30px; padding: 20px;">
        <img src="http://image.tmdb.org/t/p/w500<%= arr.poster_path %>" alt="" style="width:90px; float:left;">
        <h2><%= arr.title %></h2><br />


            <%= arr.overview %>


                <h6>Release date :
                    <%= arr.release_date %>
                </h6>
    </div>


    <% }); %>